@charset "utf-8";

:root {
    --cordegadretop: #710080;
    --cordegrademeio: #f00094;
    --cordegradebottom: rgb(223, 41, 41);
    --corletras: rgb(92, 1, 92);
    --corbotao: rgb(158, 61, 118);
}
* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*celular*/
@media (min-width: 320px) {
    
    body, html {
        height: 100vh;
        width: 100vw;
        background-image: linear-gradient(to bottom, #710080, #f00094, rgb(223, 41, 41));
        position: relative;
    }
    #container {
        position: absolute;
        height: 75vh;
        width: 75vw;
        box-shadow: 1px 1px 4px rgba(58, 0, 58, 0.726);
        transform: translate(16%, 12%);
        transition: width .5s, height .5s;
        transition-timing-function: ease;
    }
    /*imagem do login*/
    #img {
        background-image: url("../imagens/water-g14e7cb263_1280.jpg");
        height: 30vh;
        width: 75vw;
        border-top-right-radius: 9px;
        border-top-left-radius: 9px;
    }
    /*sectin do login*/
    #textos {
        padding-top: 19px;
    }
    #login {
        background-color: white;
        height: 50vh;
        width: 75vw;
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
    }
    #textos > h1 {
        font-size: 29px;
        text-align: center;
        padding-bottom: 9px;
        color: rgb(41, 41, 236);
    }
    #textos > p {
        padding: 0px 9px 9px 9px;
        line-height: 1.3em;
        text-align: center;
        font-size: 19px;
        text-shadow: 1px 1px 8px rgba(43, 43, 224, 0.637);;
    }
    /*campos de login*/
    #usu {
        text-align: center;
        padding-top: 9px;
        color: rgb(43, 43, 224);
        font-weight: bold;
        
    }
    #usuario {
        background-color: rgba(80, 80, 219, 0.418);
        border-radius: 6px;
        
    }
    #usuario:focus-within {
        background-color: white;
    }
    #senh {
        text-align: center;
        padding-top: 9px;
        color: rgb(43, 43, 224);
        font-weight: bold;
    }
    #senha {
        background-color: rgba(80, 80, 219, 0.425);
        border-radius: 6px;
    }
    #senha:focus-within {
        background-color: white;
    }
    ::placeholder {
        color: white;
    }
    #logar {
        text-align: center;
        padding-top: 9px;
    }
    #enviar {
        background-color: rgb(80, 80, 219);
        width: 59px;
        height: 29px;
        border-radius: 9px;
        color: white;
        font-size: medium;
    }
    #enviar:hover {
        background-color: rgb(48, 48, 138);
        transition: .3s;
    }
    #esquecisenha {
        text-decoration: none;
        color: white;
        background-color: rgb(80, 80, 219);
        padding: 4px;
        border-radius: 9px;
    }
    #esquecisenha:hover {
        background-color: rgb(48, 48, 138);
        transition: .3s;
    }
}